@model LiteCommerce.DomainModels.Employee
@{
    DateTime today = DateTime.Now;
    DateTime hireDate = (ViewBag.Method == "add") ? today : Model.HireDate;
    string defaultToday = (ViewBag.Method == "add") ?"(Default Today)":"";
}

<!-- Input box -->
<div class="box box-primary">
    <!-- form start -->
    <form role="form" action="~/Employee/Input" method="post" enctype = "multipart/form-data">
        <div class="box-header with-border">
            <div class="box-tools pull-right">
                <a href="~/Employee" class="btn btn-primary"><i class="fa fa-long-arrow-left"></i> Back</a>
            </div>
        </div>
        <div class="box-body">
            <input type="hidden" name="EmployeeID" value="@Model.EmployeeID" />
            <input type="hidden" name="method" value="@ViewBag.Method"/>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>First Name:</label>
                        <input type="text" name="FirstName" class="form-control" placeholder="A" value="@Model.FirstName" >
                        @Html.ValidationMessage("FirstName", new { @style = "color: red" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Last Name:</label>
                        <input type="text" name="LastName" class="form-control" placeholder="Nguyen Van" value="@Model.LastName">
                        @Html.ValidationMessage("LastName", new { @style = "color: red" })
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label>Title:</label>
                <input type="text" name="Title" class="form-control" placeholder="Sale" value="@Model.Title">
                @Html.ValidationMessage("Title", new { @style = "color: red" })
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Birthday:</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" name="BirthDate" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" value="@string.Format("{0:dd/MM/yyyy}", Model.BirthDate)">
                        </div>
                        @Html.ValidationMessage("BirthDate", new { @style = "color: red" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Hireday: <span class="text-danger">@defaultToday</span></label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="datetime" class="form-control" placeholder="Hire Date" value="@string.Format("{0:dd/MM/yyyy}", hireDate)" name="HireDate" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Home Phone:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                            <input type="text" name="HomePhone" class="form-control" placeholder="(+84) 123 123 123" value="@Model.HomePhone">
                        </div>
                        @Html.ValidationMessage("HomePhone", new { @style = "color: red" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Email:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input type="text" name="Email" class="form-control" placeholder="cuonghusc@gmail.com" value="@Model.Email">
                        </div>
                        @Html.ValidationMessage("Email", new { @style = "color: red" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Address:</label>
                <input type="text" name="Address" class="form-control" placeholder="Pham Van Dong" value="@Model.Address">
                @Html.ValidationMessage("Address", new { @style = "color: red" })
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Country:</label>
                        <select class="form-control" name="Country" id="selectCountry">
                            <option value="">--Select Country--</option>
                            @foreach (var item in SelectListHelper.ListOfCountries())
                            {
                                if (item.Value == Model.Country)
                                {
                                    <option value="@item.Value" selected>@item.Text</option>
                                }
                                else
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }
                        </select>
                        @Html.ValidationMessage("Country", new { @style = "color: red" })
                    </div>
                    
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>City:</label>
                        <input type="text" name="City" class="form-control" placeholder="Hue" value="@Model.City">
                        @Html.ValidationMessage("City", new { @style = "color: red" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Note:</label>
                <textarea class="form-control" name="Notes">@Model.Notes</textarea>
            </div>
            <div class="form-group">
                <label>Profile Picture:</label>
                <input type="file" name="uploadPhoto" class="form-control">
                <input type="hidden" name="PhotoPath" value="@Model.PhotoPath" />
            </div>
        </div>
        @*<div class="text-danger">
            @Html.ValidationSummary("");
        </div>*@
                <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" id="ButtonSubmit" class="btn btn-primary btn-sm"><i class="fa fa-check"></i> @ViewBag.ConfirmButton</button>
            <a href="~/Employee" class="btn btn-default btn-sm"><i class="fa fa-times"></i> Cancel</a>
        </div>

    </form>
</div>
<!-- /.box -->