@model LiteCommerce.Admin.Models.ProductPaginationResult
@{
    ViewBag.Title = "Manage Products";
    int i = 0;
    string paramSearch = string.IsNullOrEmpty(@Request.Params["searchValue"]) ? "" : "&searchValue=" + @Request.Params["searchValue"];
}
<!-- Search box -->
<div class="box box-primary">
    <!-- form start -->
    <form role="form">
        <div class="box-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Key search:</label>
                        <input type="text" class="form-control" placeholder="Nước abc">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Category:</label>
                        <select class="form-control">
                            <option>--Select Category--</option>
                            <option>option 2</option>
                            <option>option 3</option>
                            <option>option 4</option>
                            <option>option 5</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Supplier:</label>
                        <select class="form-control">
                            <option>--Select Supplier--</option>
                            <option>option 2</option>
                            <option>option 3</option>
                            <option>option 4</option>
                            <option>option 5</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Min price:</label>
                        <input type="number" class="form-control" placeholder="0" min="0">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Max price:</label>
                        <input type="number" class="form-control" placeholder="0" min="0">
                    </div>
                </div>
                <div class="col-sm-4">
                    <label>Press to search</label>
                    <button class="btn btn-primary btn-block">Search</button>
                </div>               
            </div>
        </div>
        <!-- /.box-body -->
    </form>
</div>
<!-- /.box -->
<div class="row">
    <div class="col-sm-8">
        <span>There are <b>@Model.RowCount</b> Products. Page <b>@Model.Page/@Model.PageCount</b></span> 
    </div>
    <div class="col-sm-4">
        <div class="pull-right">
            <a href="~/Product/Input" class="btn btn-sm btn-success"><i class="fa fa-plus-circle"></i> Add</a>
            <button class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i> Delete</button>
        </div>
    </div>
</div>
<br />
<!-- Table box -->
<div class="box box-success">
    <div class="box-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th><input type="checkbox" /></th>
                    <th>#</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Data)
                {
                    <tr>
                        <td>
                            <input type="checkbox" />
                        </td>
                        <td>@((Model.Page - 1) * Model.PageSize + (++i))</td>
                        <td>
                            @{ 
                                string urlImage = string.IsNullOrEmpty(item.PhotoPath) ? "/Images/no-image.png" : item.PhotoPath;
                            }
                            <img src="@urlImage" width="50px" />
                        </td>
                        <td>
                            <span style="display:block">@item.ProductName</span>
                            <span>(@item.CompanyName)</span>
                        </td>
                        <td>
                            <span style="display:block">@item.CategoryName</span>
                        </td>
                        <td><span>@item.QuantityPerUnit</span></td>
                        <td><span>@item.UnitPrice</span></td>
                        <td><a href="~/Product/Input/@item.ProductID" class="btn btn-primary"><i class="fa fa-pencil"></i> Sửa</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
            @if (Model.Page != 1)
            {
                <li><a href="~/Product?page=1@paramSearch">First</a></li>
            }
            @for (int page = 1; page <= Model.PageCount; page++)
            {
                if (Model.Page == page)
                {
                    <li class="active"><a href="~/Product?page=@page@paramSearch">@page</a></li>
                }
                else
                {
                    <li><a href="~/Product?page=@page@paramSearch">@page</a></li>
                }

            }
            @if (Model.Page != Model.PageCount)
            {
                <li><a href="~/Product?page=@Model.PageCount@paramSearch">Last</a></li>
            }
        </ul>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
