@model LiteCommerce.DomainModels.Employee
@{
    HttpCookie reqCookie = Request.Cookies["userInfo"];
    string photoPath = reqCookie["PhotoPath"].ToString();
    ViewBag.Title = "Edit User Information";
}
<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Information</h3>
                <div class="box-tools pull-right">
                    <a href="~/Account" class="btn btn-default btn-sm"><i class="fa fa-long-arrow-left"></i> Back</a>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form action="~/Account/Edit" method="post" class="form-horizontal" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Photo:</label>
                        <div class="col-sm-10">
                            <img src="@photoPath" class="profile-user-img img-responsive img-circle" />
                            <input type="file" name="uploadPhoto" class="form-control" accept="image/*" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">First Name:</label>
                                <div class="col-sm-8">
                                    <input type="text" name="FirstName" class="form-control" value="@Model.FirstName" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Last Name:</label>
                                <div class="col-sm-8">
                                    <input type="text" name="LastName" class="form-control" value="@Model.LastName" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Title:</label>
                                <div class="col-sm-8">
                                    <input type="text" name="Title" class="form-control" value="@Model.Title" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="inputTitle" class="col-sm-4 control-label">Birthday:</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" name="BirthDate" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" value="@string.Format("{0:dd/MM/yyyy}", Model.BirthDate)">
                                    </div>
                                    @Html.ValidationMessage("BirthDate", new { @style = "color: red" })
                                </div>                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="inputEmail" class="col-sm-4 control-label">Email:</label>
                                <div class="col-sm-8">
                                    <input type="email" name="Email" class="form-control" placeholder="user@example.com" value="@Model.Email">
                                    @Html.ValidationMessage("Email", new { @style = "color: red" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="inputPhone" class="col-sm-4 control-label">Phone:</label>
                                <div class="col-sm-8">
                                    <input type="text" name="HomePhone" class="form-control" placeholder="Phone" value="@Model.HomePhone">
                                    @Html.ValidationMessage("HomePhone", new { @style = "color: red" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputCity" class="col-sm-2 control-label">Address:</label>
                        <div class="col-sm-10">
                            <input type="text" name="Address" class="form-control" placeholder="Address" value="@Model.Address">
                            @Html.ValidationMessage("Address", new { @style = "color: red" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="inputEmail" class="col-sm-4 control-label">Country:</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="Country">
                                        <option value="">--Select Country--</option>
                                        @foreach (var item in SelectListHelper.ListOfCountries())
                                        {
                                            if (item.Value == Model.Country)
                                            {
                                                <option value="@item.Value" selected>@item.Text</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        }
                                    </select>
                                    @Html.ValidationMessage("Country", new { @style = "color: red" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="inputCity" class="col-sm-4 control-label">City:</label>
                                <div class="col-sm-8">
                                    <input type="text" name="City" class="form-control" id="inputCity" placeholder="City" value="@Model.City">
                                    @Html.ValidationMessage("City", new { @style = "color: red" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputNotes" class="col-sm-2 control-label">Notes:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="Notes">@Model.Notes</textarea>
                            @Html.ValidationMessage("Nptes", new { @style = "color: red" })
                        </div>
                    </div>
                    <div class="text-danger">
                        @Html.ValidationMessage("")
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>