@model LiteCommerce.Admin.Models.SupplierPaginationResult
@{
    ViewBag.Title = "Manage Suppliers";
    int i = 0;
    string paramSearch = "searchValue=" + Model.SearchValue;
}
<!-- Search box -->
<div class="box box-primary">
    <!-- form start -->
    <form role="form" action="~/Supplier" method="get">
        <div class="box-body">
            <div class="input-group input-group-sm">
                <input type="text" name="searchValue" class="form-control" placeholder="Type anything" value="@Model.SearchValue">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>        
        <!-- /.box-body -->
    </form>
</div>
<!-- /.box -->
<form action="~/Supplier/Delete" method="POST">

    <div class="row">
        <div class="col-sm-8">
            <span>There are <b>@Model.RowCount</b> Suppliers. Page <b>@Model.Page/@Model.PageCount</b></span>
        </div>
        <div class="col-sm-4">
            <div class="pull-right">
                <a href="~/Supplier/Input" class="btn btn-sm btn-success"><i class="fa fa-plus-circle"></i> Add</a>
                <button type="submit" name="method" value="delete" class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i> Delete</button>
            </div>
        </div>
    </div>
    <br />
    <!-- Table box -->
    <div class="box box-success">
        <div class="box-body">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="selectAll"/></th>
                        <th>#</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Contact Info</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model.Data)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" name="supplierIDs" value="@item.SupplierID" />
                            </td>
                            <td>@((Model.Page - 1)*Model.PageSize + (++i))</td>
                            <td>
                                <span class="text-bold text-blue">@item.CompanyName</span>
                                <br />
                                <span class="text-bold text-black">@item.ContactName</span>
                                <span>(@item.ContactTitle)</span>
                            </td>
                            <td>
                                <span style="display:block">@item.Address</span>
                                <span> @item.City -  @item.Country</span>
                            </td>
                            <td>
                                <span style="display:block"><i class="fa fa-phone"></i> @item.Phone</span>
                                <span style="display:block"><i class="fa fa-fax"></i> @item.Fax</span>
                                <span style="display:block"><i class="fa fa-globe"></i> @item.HomePage</span>
                            </td>
                            <td><a href="~/Supplier/Input/@item.SupplierID" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
                @if (Model.Page != 1)
                {
                    <li><a href="~/Supplier?page=1&@paramSearch">First</a></li>
                }
                @for (int page = 1; page <= Model.PageCount; page++)
                {
                if (Model.Page == page)
                {
                        <li class="active"><a href="~/Supplier?page=@page&@paramSearch">@page</a></li>
                }
                else
                {
                        <li><a href="~/Supplier?page=@page&@paramSearch">@page</a></li>
                }

            }
                @if (Model.Page != Model.PageCount)
            {
                    <li><a href="~/Supplier?page=@Model.PageCount&@paramSearch">Last</a></li>
            }
            </ul>
        </div>
        <!-- /.box-body -->
    </div>
</form>
<!-- /.box -->