@model LiteCommerce.DomainModels.Supplier
@{

}

<!-- Input box -->
<div class="box box-primary">
    <!-- form start -->
    <form role="form" action="~/Supplier/Input" method="post">
        <div class="box-header with-border">
            <div class="box-tools pull-right">
                <a href="~/Supplier" class="btn btn-primary"><i class="fa fa-long-arrow-left"></i> Back</a>
            </div>
        </div>
        <div class="box-body">
            <input type="hidden" name="SupplierID" value="@Model.SupplierID" />
            <div class="form-group">
                <label>Company Name:</label>
                <input type="text" name="CompanyName" class="form-control" placeholder="ABC Company" value="@Model.CompanyName">
                @Html.ValidationMessage("CompanyName", new { @style = "color: red" })
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Contact Name:</label>
                        <input type="text" name="ContactName" class="form-control" placeholder="Nguyen Van A" value="@Model.ContactName">
                        @Html.ValidationMessage("ContactName", new { @style = "color: red" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Contact Title:</label>
                        <input type="text" name="ContactTitle" class="form-control" placeholder="Sale Manager" value="@Model.ContactTitle">
                        @Html.ValidationMessage("ContactTitle", new { @style = "color: red" })
                    </div>
                </div>
            </div>
            
            
            <div class="form-group">
                <label>Address:</label>
                <input type="text" name="Address" class="form-control" placeholder="123 Pham Van Dong St" value="@Model.Address">
                @Html.ValidationMessage("Address", new { @style = "color: red" })
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Country:</label>
                        <select class="form-control" name="Country" id="selectCountry">
                            <option value="">--Select Country--</option>
                            @foreach (var item in SelectListHelper.ListOfCountries())
                            {
                                if (item.Value == Model.Country)
                                {
                                    <option value="@item.Value" selected>@item.Text</option>
                                }
                                else
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }
                        </select>
                        @Html.ValidationMessage("Country", new { @style = "color: red" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>City:</label>
                        <input type="text" name="City" class="form-control" placeholder="Hue" value="@Model.City">
                        @Html.ValidationMessage("City", new { @style = "color: red" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Phone:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                            <input type="text" name="Phone" class="form-control" placeholder="(+84) 123 123 123" value="@Model.Phone">
                        </div>
                        @Html.ValidationMessage("Phone", new { @style = "color: red" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Fax:</label>
                        <div class="input-group">                            
                            <span class="input-group-addon"><i class="fa fa-fax"></i></span>
                            <input type="text" name="Fax" class="form-control" placeholder="(+84) 456 456 456" value="@Model.Fax">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label>Home Page:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-link"></i></span>
                        <input type="text" name="HomePage" class="form-control" placeholder="https://abc-company.com" value="@Model.HomePage">
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" id="ButtonSubmit" class="btn btn-primary btn-sm"><i class="fa fa-check"></i> @ViewBag.ConfirmButton</button>
            <a href="~/Supplier" class="btn btn-default btn-sm"><i class="fa fa-times"></i> Cancel</a>            
        </div>
    </form>
</div>
<!-- /.box -->
